[Desktop Entry]
Encoding=UTF-8
Name=Link to Complete Linux Mint Tutorial: Getting To Know The Desktop (Cinnamon) - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=kUC9RbrS0q0&list=PLrW4kXWyzgoKKLkdHTH8E5v_JboLeAITi
Icon=mintstick-logo-linuxmint
Name[en_CA]=Linux_Mint-Getting_Started
